:root {
    --sds-size-space-400: 16px;
    --sds-size-space-300: 8px;
    --sds-size-radius-200: 8px;
    --sds-size-stroke-border: 1px;
    --sds-color-border-danger-tertiary: #EC221F;
    --sds-color-background-danger-tertiary: #FEE9E7;

    --sds-color-text-danger-on-danger-tertiary: #900B09;
    --sds-typography-body-font-family: Inter;
    --sds-typography-body-size-medium: 16px;
    --sds-typography-body-font-weight-strong: 600;
    --sds-typography-body-font-weight-regular: 400;

    --sds-size-space-200: 8px;
    --sds-color-border-danger-secondary: #C00F0C;
    --sds-color-background-danger-default: #EC221F;
    --sds-color-text-danger-on-danger: #FEE9E7;

    --sds-color-border-default-default: #D9D9D9;
    --sds-color-background-default-default: #FFFFFF;
}

body {
    font-family: Inter, serif;
    display: flex;
    justify-content: center;
}

.notification {
    display: flex;
    width: 358px;
    padding: var(--sds-size-space-400);
    align-items: center;
    gap: var(--sds-size-space-300);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border) solid var(--sds-color-border-danger-tertiary);
    opacity: 0.7;
    background: var(--sds-color-background-danger-tertiary);
}

.notification p {
    color: var(--sds-color-text-danger-on-danger-tertiary);
    font-family: var(--sds-typography-body-font-family), serif;
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 140%;
}

.notification .strong {
    font-weight: var(--sds-typography-body-font-weight-strong);
}

.notification img{
    padding-right: 10px;
}

.notification button {
    display: flex;
    padding: var(--sds-size-space-200);
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);

    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border) solid var(--sds-color-border-danger-secondary);
    background: var(--sds-color-background-danger-default);

    color: var(--sds-color-text-danger-on-danger)
}

.menu {
    display: flex;
    width: 366px;
    height: 382px;
    padding: var(--sds-size-space-200);
    flex-direction: column;
    align-items: flex-start;

    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border) solid var(--sds-color-border-default-default);
    background: var(--sds-color-background-default-default);

    box-shadow: 0 4px 4px -1px #0C0C0D;
}

.menu .menu-card {
    display: flex;
    width: 285px;
    padding: var(--sds-size-space-300) var(--sds-size-space-400);
    align-items: flex-start;
    gap: var(--sds-size-space-300);
}

.menu #title {
    padding: var(--sds-size-space-300) var(--sds-size-space-400);
}

.heft-selection {

}

.heft {

}

.profile {

}